@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
}

@mixin mediaStyle {
    width: 70px;
    height: 60px;
    cursor: pointer;
}
@mixin itemStyle {
    width: 300px;
    height: 40px;
}

.form{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,25%);
}

.linkedin , .facebook , .google{
    @include mediaStyle();    
}


.bi{
    font-size: xx-large;
    color: #003580;
    padding-left: 1.25rem;
}
.username , .password{
    @include itemStyle();
    padding-left: 110px;
}

.login{
    @include itemStyle();
    background-color: #003580;
    color: whitesmoke;
    margin-top: 20px;
    &:hover{
        background-color:whitesmoke;
        color:#003580;
        border-color: 003580;
    }
}


.section-title{
    text-align: center;
    font-size: 20px;
    color: #003580;
}

.section-title::before,
.section-title::after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 130px;
}

.section-title::before {
    right: 0.5rem;
    margin-left: -50%;
}

.section-title::after {
    left: 0.5rem;
    margin-right: -50%;
}